language: python
python:
  - "2.7"
install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install coveralls
script:
  - py.test --cov confmodel confmodel
  - coverage report -m
after_success:
  - coveralls
